# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# Ignore model and data files (if necessary)
*.pkl
*.csv
